{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<p>
    This is the Home page for the program that i made. What this program does is go to your osu! folder and get the song names of each song that you have <br>
    and put them in a list. After that you can pick to show 1-2-3....-x amount of songs, for the program to auto google the songs name and return you a link <br>
    that will be put in the page. By clicking them you will be transfered to the osu page for that specific song for you to download.
    
</p>

{% endblock %}


